@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        ApplicationUser? user = await UserManager.GetUserAsync(User);
        bool isMasterAdmin = User.IsInRole("Administrator") && user.Email == "kontakta39@mail.bg" && user.UserName == "kontakta39";

        <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link px-0 text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown"></a>
            <a class="nav-link px-1 text-dark" href="#" data-bs-toggle="dropdown">Logged in as @user?.FirstName @user?.LastName</a>
            <ul class="dropdown-menu">
                @if (isMasterAdmin)
                {
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Manage", "Account", new { page = "ManageUsers" })">Manage users</a>
                    </li>
                }
                <li><a class="dropdown-item" href="@Url.Action("Manage", "Account", new { page = "Profile" })">Profile</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Manage", "Account", new { page = "Orders" })">Orders</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Manage", "Account", new { page = "Email" })">Email</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Manage", "Account", new { page = "ChangePassword" })">Change password</a></li>
                @if (!isMasterAdmin)
                {
                   <li><a class="dropdown-item" href="@Url.Action("Manage", "Account", new { page = "DeleteAccount" })">Delete account</a></li>
                }
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <form asp-controller="Account" asp-action="LogOut" method="post" style="display:inline;">
                        <button type="submit" class="dropdown-item">Log Out</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="LogIn">Log In</a>
        </li>
    }
</ul>