@using BookWebStore.ViewModels
@model IEnumerable<BookIndexViewModel>

@{
    ViewData["Title"] = "Books";
}

@if (TempData["ErrorMessage"] != null)
{
    <div id="errorAlert" class="alert alert-danger text-center">
        <p class="m-0">@TempData["ErrorMessage"]</p>
    </div>
    <script>setTimeout(() => { const e=document.getElementById('errorAlert'); if(e){ e.style.transition='opacity 0.5s'; e.style.opacity='0'; setTimeout(() => e.remove(), 500); } }, 3000);</script>
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@ViewData["Title"]</h1>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-controller="Book" asp-action="Add" class="btn btn-primary"><i class="fas fa-plus"></i>Add book</a>
    }
</div>
<hr class="mb-4" />

@if (!Model.Any())
{
    <h3 class="text-start">We currently have no books available for sale.</h3>
}
else
{
    List<IGrouping<string, BookIndexViewModel>> groupedBooks = Model
        .OrderBy(b => b.Title)
        .GroupBy(b => b.Title.Substring(0, 1).ToUpper()) //group by first letter
        .OrderBy(b => b.Key) //sorting groups by letter
        .ToList();

    @foreach (var group in groupedBooks)
    {
        <h3 class="text-start mt-5 text-dark">Books starting with letter "<strong>@group.Key</strong>"</h3>
        <hr class="mb-4 border-primary" />

        <div class="row g-4">
            @foreach (var book in group.OrderBy(b => b.Title))
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mb-5">
                    <div class="card shadow-sm border-1 d-flex flex-column bg-secondary bg-opacity-10">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="text-decoration-none text-reset flex-grow-1 d-flex flex-column">
                            <div class="p-3" style="padding-bottom: 0;">
                                <img src="@(!string.IsNullOrEmpty(book.ImageUrl) ? book.ImageUrl : Url.Content("~/img/book-no-image-available.jpg"))"
                                        class="img-fluid rounded mx-auto d-block"
                                        style="max-height: 300px; object-fit: contain;"
                                        alt="Book Image Not Available" />
                            </div>

                            <div class="card-body text-center" style="padding-top: 0.25rem; padding-bottom: 0;">
                                <h5 class="card-title text-dark fw-semibold mb-2">@book.Title</h5>
                                <h6 class="card-subtitle text-muted mb-3">@book.Author</h6>
                            </div>
                        </a>

                        <form asp-controller="Order" asp-action="AddToCart" asp-route-bookId="@book.Id" method="post" class="text-center mb-3">
                            <button type="submit" class="btn btn-success w-50">Buy</button>
                        </form>

                    </div>
                </div>
            }
        </div>
    }
}