@using MusicWebStore.ViewModels;
@model AlbumAddViewModel

@{
    ViewData["Title"] = "Add album";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="mb-2">
                <label asp-for="@Model.Title" class="form-label-add-edit">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Stock" class="form-label-add-edit">Stock</label>
                    <input asp-for="@Model.Stock" class="form-control" aria-required="true" type="number" step="1" min="1" />
                    <span asp-validation-for="@Model.Stock" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                    <div class="input-group">
                        <input asp-for="Price" class="form-control" aria-required="true" id="price" type="number" step="1.00" min="1.00"  />
                        <span class="input-group-text">lv.</span>
                        <script>
                            document.getElementById('price').addEventListener('blur', function () {
                                if (this.value) {
                                    this.value = parseFloat(this.value).toFixed(2);
                                }
                            });
                        </script>
                    </div>
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.GenreId" class="form-label-add-edit">Genre</label>
                    <select asp-for="@Model.GenreId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))" id="genreDropdown">
                        <option value="">Select genre</option>
                    </select>
                    <span asp-validation-for="@Model.GenreId" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.ArtistId" class="form-label-add-edit">Artist</label>
                    <select asp-for="@Model.ArtistId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Artists, "Id", "Name"))" id="artistDropdown" data-selected-artist="@Model.ArtistId">
                        <option value="">Select artist</option>
                    </select>
                    <span asp-validation-for="@Model.ArtistId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.ReleaseDate" class="form-label-add-edit">Release Date (Optional)</label>
                    <input asp-for="@Model.ReleaseDate" class="form-control" aria-required="true" value="@Model.ReleaseDate" />
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Label" class="form-label-add-edit">Label (Optional)</label>
                    <input asp-for="@Model.Label" class="form-control" aria-required="false" placeholder="Enter label" />
                </div>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.ImageFile" class="form-label-add-edit">Upload Image</label>
                <div class="input-group">
                    <!-- Text input field for displaying the selected file name -->
                    <input type="text" class="form-control" id="fileName" placeholder="No file chosen" value="@Model.ImageUrl" disabled />

                    <!-- Hidden file input element -->
                    <input type="file" asp-for="@Model.ImageFile" class="d-none" id="imageFileInput" />

                    <!-- Button to trigger file input -->
                    <button class="btn btn-outline-secondary" type="button">Upload</button>
                </div>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

<!-- Link to external JavaScript file -->
<script src="~/js/genreArtistFilter.js"></script>