@using MusicWebStore.ViewModels
@using System.Security.Claims
@model AlbumDetailsViewModel

@{
    ViewData["Title"] = "Album information";
    Guid id = Model.ArtistId; 
    string? userId = User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier);
    ReviewIndexViewModel? userReview = Model.Reviews.FirstOrDefault(r => r.UserId == userId);
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center" style="margin: 0 auto; max-width: 800px;">
    <div class="col-md-4 text-center">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/img/Albums Covers/@Model.ImageUrl" class="img-fluid" style="max-width: 100%; height: auto;" alt="@Model.Title" />
        }
        else
        {
            <img src="~/img/album-no-cover-available.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="No Image Available" />
        }
    </div>

    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <hr />
            <a asp-controller="Artist" asp-action="Details" asp-route-id="@id" class="card-subtitle mb-2 text-muted" style="text-decoration:none; font-weight: 500;">Artist: <span style="text-decoration: underline; color:blue">@Model.Artist</span></a>
            <hr />
            <h6 class="card-subtitle mb-2 text-muted">Genre: @Model.Genre</h6>
            <hr />
            @if (Model.ReleaseDate != null)
            {
                <h6 class="card-subtitle mb-2 text-muted">Release Date: @Model.ReleaseDate</h6>
                <hr />
            }
            @if (!string.IsNullOrEmpty(Model.Label))
            {
                <h6 class="card-subtitle mb-2 text-muted">Label: @Model.Label</h6>
                <hr />
            }
            <p class="card-subtitle mb-2 text-muted" style="font-weight: 500;">Price: @Model.Price lv.</p>
            <hr />
            @if (Model.Stock > 1)
            {
                <p class="card-text fw-bold">In stock: @Model.Stock copies</p>
            }
            else if (Model.Stock == 1)
            {
                <p class="card-text fw-bold">Only @Model.Stock album left</p>
            }
            else
            {
                <p class="card-text fw-bold">Album is not available</p>
            }
            <hr />
            <p class="card-text">@Model.Description</p>
        </div>
        <div class="text-center">
            <div class="d-flex justify-content-between align-items-center">
                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                {
                    <a asp-controller="Album" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">Edit</a>
                }
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-controller="Album" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1">Delete</a>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.IsDeleted == false)
{ 
    <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top:50px">
        <h3>Album reviews</h3>
    </div>
    <hr />

    <!-- Review Section -->
    <div class="reviews-section mt-4">
        @if (Model.Reviews.Count() == 0)
        {
            <div class="card-footer" style="display: flex; align-items: center; gap: 30px; padding: 20px; margin-bottom: 50px;">
                <h5 style="margin: 0;">No reviews yet. Be the first to write one!</h5>
                @if (userReview == null)
                {
                    <a asp-controller="Review" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-warning" style="color: dimgray;">Write a review</a>
                }
            </div>
        }
        else
        {
            <div class="d-flex align-items-center" style="gap: 50px; margin-bottom: 25px;">
                <h5 class="mb-0">Total reviews: @Model.Reviews.Count(), Ratings average score: @Model.Reviews.Average(r => r.Rating).Value.ToString("F1")</h5>
                @if (userReview != null)
                {
                    <h5 class="mb-0" style="margin: 0;">You have already added a review for this album.</h5>
                }
                else
                {
                    <a asp-controller="Review" asp-action="Add" asp-route-id="@Model.Id"
                       class="btn btn-warning"
                       style="color: dimgray; margin: 0;">Add review</a>
                }
            </div>

            <div class="reviews-list" style="margin-bottom: 50px;">
                @foreach (var review in Model.Reviews)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Review by: @review.FirstName @review.LastName</h6>
                            <p class="card-text">@review.ReviewText</p>
                            <div class="d-flex align-items-center">
                                <div>
                                    @if (review.Rating == 1)
                                    {
                                        <h6 class="card-subtitle text-muted">Rating: @review.Rating star</h6>
                                    }
                                    else if (review.Rating > 1)
                                    {
                                        <h6 class="card-subtitle text-muted">Rating: @review.Rating stars</h6>
                                    }

                                    @if (review.IsEdited)
                                    {
                                        <h6 class="card-subtitle text-muted" style="margin-top: 5px;">Edited on: @review.ReviewDate.ToShortDateString()</h6>
                                    }
                                    else
                                    {
                                        <h6 class="card-subtitle text-muted" style="margin-top: 5px;">Published on: @review.ReviewDate.ToShortDateString()</h6>
                                    }
                                </div>
                                @if (review.UserId == userId)
                                {
                                    <div class="ms-3">
                                        @if (review.IsEdited == false)
                                        {
                                            <form asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id" method="get" style="display: inline;">
                                                <input type="hidden" name="albumId" value="@review.AlbumId" />
                                                <button type="submit" class="btn btn-warning" style="color: dimgray; font-size: 15px; padding: 10px; margin-left: 15px;">Edit review</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <h6 class="text-muted">You have already edited your review.</h6>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}