@using BookWebStore.ViewModels
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-4">
        <h2 class="text-center mb-3">Enter your email:</h2>
        @{
            List<ModelError> еrrors = ViewData.ModelState
            .Where(e => string.IsNullOrEmpty(e.Key))
            .SelectMany(e => e.Value!.Errors)
            .ToList();
        }
        @if (еrrors.Any())
        {
            <div id="errorAlert" class="alert alert-danger text-center">
                @foreach (var error in еrrors)
                {
                    <p class="m-0">@error.ErrorMessage</p>
                }
            </div>
            <script>setTimeout(() => { const e=document.getElementById('errorAlert'); if(e){ e.style.transition='opacity 0.5s'; e.style.opacity='0'; setTimeout(() => e.remove(), 500); } }, 3000);</script>
        }

        <form method="post">
            <div class="form-floating mb-3">
                <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Please enter your email password." />
                <label asp-for="@Model.Email" class="form-label"></label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}