@using BookWebStore.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr style="margin-bottom: 50px;" />

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-4">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert" style="text-align: center;">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p style="margin: 0;">@error.ErrorMessage</p>
                }
            </div>
        }
        <form asp-action="LogIn" method="post">
            <div class="form-floating mb-3">
                <input asp-for="@Model.UsernameOrEmail" class="form-control" autocomplete="username-or-email" aria-required="true" placeholder="Please enter your username or email." />
                <label asp-for="@Model.UsernameOrEmail" class="form-label">Username/Email</label>
                <span asp-validation-for="@Model.UsernameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="@Model.Password" class="form-label">Password</label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <div>
                <div class="d-flex mt-3">
                    <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-warning w-50 custom-btn">Forgot Password</a>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-warning w-50 custom-btn">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
