@using BookWebStore.ViewModels
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset your password";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card col-md-6 p-4 shadow-lg rounded-4 border-0">
        @{
            List<ModelError> errors = ViewData.ModelState
            .Where(e => string.IsNullOrEmpty(e.Key))
            .SelectMany(e => e.Value?.Errors ?? Enumerable.Empty<ModelError>())
            .ToList();
        }
        @if (errors.Any())
        {
            <div id="errorAlert" class="alert alert-danger text-center">
                @foreach (var error in errors)
                {
                    <p class="m-0">@error.ErrorMessage</p>
                }
            </div>
            <script>setTimeout(() => { const e=document.getElementById('errorAlert'); if(e){ e.style.transition='opacity 0.5s'; e.style.opacity='0'; setTimeout(() => e.remove(), 500); } }, 3000);</script>
        }

        <h2 class="text-center mb-4">
            <i class="bi bi-shield-lock text-primary me-1"></i> Enter your new password:
        </h2>

        <form asp-action="ResetPassword" method="post" novalidate>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="@Model.Password" class="form-label">New password</label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="@Model.ConfirmPassword" class="form-label">Confirm password</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary rounded-pill">
                <i class="bi bi-key-fill me-1"></i> Reset Password
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}