@using BookWebStore.ViewModels
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset your password";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-5">
        <h2 class="text-center mb-3">Enter your new password:</h2>
        @{
            List<ModelError> еrrors = ViewData.ModelState
            .Where(e => string.IsNullOrEmpty(e.Key))
            .SelectMany(e => e.Value.Errors)
            .ToList();
        }
        @if (еrrors.Any())
        {
            <div class="alert alert-danger text-center">
                @foreach (var error in еrrors)
                {
                    <p class="m-0">@error.ErrorMessage</p>
                }
            </div>
        }

        <form method="post">


            <div class="form-floating mb-3">
                <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="@Model.Password" class="form-label">New password</label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="@Model.ConfirmPassword" class="form-label">Confirm password</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}