@using MusicWebStore.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="LogIn" method="post">
                <hr />
                <!-- Display general error messages (except Email and Password) -->
                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
                {
                    <div class="alert alert-danger">
                        @ViewData["ErrorMessage"]
                    </div>
                }
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="@Model.Password" class="form-label">Password</label>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class="d-flex mt-3">
                    <a asp-controller="Account" asp-action="Register" class="btn btn-warning w-50 custom-btn">Register</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}