@using BookWebStore.ViewModels
@model EmailViewModel

@{
    ViewData["Title"] = "Manage еmail";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="ChangeEmail" method="post">
            <div class="form-floating mb-3 input-group">
                <input asp-for="@Model.CurrentEmail" class="form-control" disabled />
                <label asp-for="@Model.CurrentEmail" class="form-label">Current email</label>
                <input type="hidden" name="CurrentEmail" value="@Model.CurrentEmail" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label asp-for="@Model.NewEmail" class="form-label">New еmail</label>
                <span asp-validation-for="@Model.NewEmail" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}