@model List<(ApplicationUser User, IList<string> Roles)>

@{
    ViewData["Title"] = "Manage users";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h4 class="text-start">There are no registered users.</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Name</th>
                <th>Current role</th>
                <th>Make the user:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userRole in Model)
            {
                <tr>
                    <td>@userRole.User.UserName</td>
                    <td>@userRole.User.Email</td>
                    <td>@($"{userRole.User.FirstName} {userRole.User.LastName}")</td>
                    <td>@string.Join(", ", userRole.Roles)</td>
                    <td>
                        <form asp-action="ChangeRole" asp-controller="Account" method="post">
                            <input type="hidden" name="userId" value="@userRole.User.Id" />
                            @if (!userRole.Roles.Contains("Administrator"))
                            {
                                <button class="btn btn-primary" name="role" value="Administrator">Administrator</button>
                            }
                            @if (!userRole.Roles.Contains("Moderator"))
                            {
                                <button class="btn btn-secondary" name="role" value="Moderator">Moderator</button>
                            }
                            @if (!userRole.Roles.Contains("Guest"))
                            {
                                <button class="btn btn-warning" name="role" value="Guest">Guest</button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}