@using BookWebStore.ViewModels
@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-7">
        <form asp-action="UpdateProfile" method="post">
            <div class="form-floating mb-3">
                <input asp-for="@Model.Username" class="form-control" disabled />
                <label asp-for="@Model.Username" class="form-label">Username</label>
                <input type="hidden" name="Username" value="@Model.Username" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.PhoneNumber" class="form-control" disabled />
                <label asp-for="@Model.PhoneNumber" class="form-label">Current phone number</label>
                <input type="hidden" name="CurrentPhoneNumber" value="@Model.PhoneNumber" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}